<!DOCTYPE html>
<meta charset ="utf-8">

<html>
	<head>
		<meta charset="utf-8"/>
		<link rel="stylesheet" type="text/css" href="style.css" />
		<meta name="viewport" content="width=device-width">
		<title>Cycling</title> 
	</head>
	<body>
		<script type="text/javascript" src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
		<script src="//code.jquery.com/ui/1.11.0/jquery-ui.js"></script>
		<script type="text/javascript" src="http://d3js.org/d3.v3.min.js"></script>
		<script src="http://d3js.org/d3.geo.projection.v0.min.js"></script>
		<script src="http://underscorejs.org/underscore-min.js"></script>
		<script src="http://d3js.org/topojson.v0.min.js"></script>
	  	<script src="scripts.js"></script>
	  	<script src="jsonp.js"></script>

	  	<!-- <div id="background">
	  		<img src = "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT7weK0q6xG8_GcGsGe819Ymd3Gv3sci_lnICi6z8-3se2zPd9R" />
	  	</div> -->
	  	<div  id="map">
	  		<div id="source">source:<a href="http://www.citibikenyc.com/" target="_blank">Citi  Bike</div>
	  	</div>

	  	<div id="header">Citi Bike Nebula
    		<div id="subheader">2014</div>
		</div>
		<div id="newData"></div>
		<div id="pie">
			<div id="pieOne"></div>
			<div id="pieLaber">Bike/Dock</div>
		</div>
		<div id="theNumber"></div>
		<label>Time</label><label id="day"></label>,<label id="time"></label>
		<form>
			<input id="slider" type="range" name="slider" min="0" max="200" value="10" step="1"/>
		</form>
		
	
	 
	  	<!--<script type="text/javascript" src="https://gist.githubusercontent.com/phil-pedruco/6646844/raw/a7cec63be9fe6b523fbe18d0c4c1e002d757f25b/nyc.json"></script>-->
	   	<script>	   		
	  	</script>

	  	
	
	</body>

</html>	